.article-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 30px 20px;
}

@media screen and (max-width: 768px) {
    .article-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .article-list-container {
        grid-template-columns: repeat(1, 1fr);
    }
}