.searchBar-wrap {
    background-color: #f0f0f0;
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .searchBar-wrap form {
    display: flex;
    align-items: center;
  }
  
  .searchBar-wrap .search-input-field {
    background-color: #f0f0f0;
    outline: none;
    border: none;
    width: 450px;
  }
  
  .searchBar-wrap span {
    padding-right: 0.5rem;
    cursor: pointer;
  }
  
  .searchBar-wrap button {
    margin-left: 20px;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
      .searchBar-wrap .search-input-field {
          width: 300px;
        }
  }